[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
rope = "*"
django-debug-toolbar = "*"
flake8 = "*"
pre-commit = "*"
black = "*"

[packages]
django = ">=3.1,<3.2"
psycopg2 = "*"
whitenoise = "*"
django-localflavor = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
django-multiselectfield = "*"
pytz = "*"
python-dateutil = "*"
dj-database-url = "*"
gunicorn = "*"
django-ckeditor = "*"
googlemaps = "*"
mailchimp3 = "*"
sentry-sdk = "*"
celery = "<5"
redis = "*"
twilio = "*"
django-admin-tools = "*"
usaddress = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
