[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
rope = "*"
django-debug-toolbar = "*"
flake8 = "*"

[packages]
django = "*"
psycopg2 = "*"
whitenoise = "*"
django-localflavor = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
django-multiselectfield = "*"
pytz = "*"
python-dateutil = "*"
dj-database-url = "*"
gunicorn = "*"
django-ckeditor = "*"
googlemaps = "*"
mailchimp3 = "*"
sentry-sdk = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.7"
