{% extends "admin/seekers/tabbed_change_form.html" %}
{% load static %}

{% block object-tools-items %}
<li><a href="{% url "admin:seekers_seekerbenefitproxy_change" object_id %}?_to_field=id&_popup=1"
       class="related-widget-wrapper-link change-related"
       id="change_id_seekerbenefit">Seeker benefits</a></li>
{{ block.super }}
{% endblock %}

{% block field_sets %}
<fieldset class="module aligned">
  <div class="form-row">
    <div class="fieldBox">
      <label>Identifier:</label>
      <div class="readonly">{{ original.pk }}</div>
    </div>
  </div>
  <div class="form-row">
    <div class="fieldBox">
      <label>First names:</label>
      <div class="readonly" style="min-width: 260px">{{ original.first_names }}</div>
    </div>
    <div class="fieldBox">
      <label>Last names:</label>
      <div class="readonly" style="min-width: 260px">{{ original.last_names }}</div>
    </div>
  </div>
  <div class="form-row">
    <div class="fieldBox">
      <label>Phone number:</label>
      <div class="readonly" style="min-width: 260px">{{ original.phone_number }}</div>
    </div>
    <div class="fieldBox">
      <label>Email address:</label>
      <div class="readonly" style="min-width: 260px">{{ original.email_address }}</div>
    </div>
  </div>
</fieldset>
{{ block.super }}
{% endblock %}
