{% extends "admin/change_form.html" %}
{% load static %}

{% block object-tools-items %}
{% if object.address %}
<li><a href="{% url "admin:seekers_seeker_ride" object_id %}" class="related-widget-wrapper-link">Find a Ride</a></li>
{% endif %}
<li><a href="{% url "admin:seekers_seekerbenefitproxy_change" object_id %}?_to_field=id&_popup=1" 
       class="related-widget-wrapper-link change-related"
       id="change_id_seekerbenefit">Seeker benefits</a></li>
{{ block.super }}
{% endblock %}

{% block after_field_sets %}
{% include "admin/seekers/includes/mailchimp.html"%}
{% endblock %}