{% extends "admin/seekers/tabbed_change_form.html" %}

{% block field_sets %}
<fieldset class="module aligned">
  <div class="form-row">
    <div class="fieldBox">
      <label>Identifier:</label>
      <div class="readonly">{{ original.pk }}</div>
    </div>
  </div>
  <div class="form-row">
    <div class="fieldBox">
      <label>First names:</label>
      <div class="readonly">{{ original.first_names }}</div>
    </div>
    <div class="fieldBox">
      <label>Last names:</label>
      <div class="readonly">{{ original.last_names }}</div>
    </div>
  </div>
  <div class="form-row">
    <div class="fieldBox">
      <label>Phone number:</label>
      <div class="readonly">{{ original.phone_number }}</div>
    </div>
    <div class="fieldBox">
      <label>Email address:</label>
      <div class="readonly">{{ original.email_address }}</div>
    </div>
  </div>
</fieldset>
{{ block.super }}
{% endblock %}
